:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #000000;
    --primary-nav-color: #2196F3;
}

.page {
    background: #FFFFFF;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.colortext {
    color: var(--primary-nav-color);
} 

span {
    color: var(--accent-color);
}

.site-nav .link {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--primary-nav-color);
}
.title {
    color: #FFFFFF;
}
p {
    color: var(--title-text-color);
}
a {
    color: rgba(255, 255, 255, 0.6);
}
.button {
    background-color: var(--primary-nav-color);
    color: #FFFFFF;
}
.address {
    color: #FFFFFF;
}